
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<footer th:fragment="footer" class="bg-dark text-center text-white">
		<!-- Footer -->
		<!-- Grid container -->
		<div class="container p-4">
			<!-- Section: Social media -->
			<section class="mb-4">
				<!-- Facebook -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!"
					role="button"><i class="fa fa-facebook-f"></i></a>

				<!-- Twitter -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!"
					role="button"><i class="fa fa-twitter"></i></a>

				<!-- Google -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!"
					role="button"><i class="fa fa-google"></i></a>

				<!-- Instagram -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!"
					role="button"><i class="fa fa-instagram"></i></a>

				<!-- Linkedin -->
				<a class="btn btn-outline-light btn-floating m-1" href="#!"
					role="button"><i class="fa fa-linkedin"></i></a>

			</section>
			<section class="mb-4">
				<p>At NikitaKumbhaniJAVA Hotel, our family of brands is as diverse as we
					are. From everyday, essential travel to luxury escapes, find a
					collection of welcoming experiences. For wherever you go. For
					however you stay.</p>
			</section>
		</div>
		<!-- Copyright -->
		<div class="text-center p-3"
			style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright: <a class="text-white"
				href="">NikitaKumbhaniJAVA.com</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->

	<!-- Footer -->
</body>
</html>