
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dining Menu - NikitaKumbhaniJava</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
	<header th:insert="fragments/header.html :: header"> </header>
	<div class="container ">
	<div class="text-success text-md-center"><h1>Our Menu</h1></div>
	<div class="text-success text-md-center container-fluid"><h3>Looking for Delicious options? Try our menu for Good Food!!!</h3></div>
		<hr class="mt-3 mb-3 dividerClass dotted"/>
		<table class="table table-borderless mt-4">
		<thead><tr>
				<th colspan="2"><h4 class="text-success">Breakfast</h4></th>
			</tr></thead>
		<tbody>
			<tr>
				<td><h5>Sunrise Sandwich</h5></td>
				<td class="text-align-right">$9</td>
			</tr>
			<tr class="m-0" >
				<td colspan="2">Eggs, any style, Cheddar cheese and choice of
					meat on an English muffin, served with country potatoes.</td>
			</tr>
			<tr>
				<td><h5>Breakfast Burritoes</h5></td>
				<td class="text-align-right">$11</td>
			</tr>
			<tr>
				<td colspan="2">Eggs, any style, Cheddar cheese and choice of
					meat on an English muffin, served with country potatoes.</td>
			</tr>
			<tr>
				<td><h5>Pancakes</h5></td>
				<td class="text-align-right">$11</td>
			</tr>
			<tr>
				<td colspan="2">Grilled pancakes topped with butter and served with warm syrup.</td>
			</tr></tbody>
		</table>
		<hr class="mt-2 mb-3"/>
		<table class="table table-borderless">
		<thead><tr>
				<th colspan="2"><h4 class="text-success">Lunch</h4></th>
			</tr></thead>
		<tbody>
			<tr>
				<td><h5>Sunrise Sandwich</h5></td>
				<td class="text-align-right">$9</td>
			</tr>
			<tr>
				<td colspan="2">Eggs, any style, Cheddar cheese and choice of
					meat on an English muffin, served with country potatoes.</td>
			</tr>
			<tr>
				<td><h5>Breakfast Burritoes</h5></td>
				<td class="text-align-right">$11</td>
			</tr>
			<tr>
				<td colspan="2">Eggs, any style, Cheddar cheese and choice of
					meat on an English muffin, served with country potatoes.</td>
			</tr></tbody>
		</table>
		<hr class="mt-2 mb-3"/>
		<table class="table table-borderless">
		<thead><tr>
				<th colspan="2"><h4 class="text-success">Dinner</h4></th>
			</tr></thead>
		<tbody>
			<tr>
				<td><h5>Sunrise Sandwich</h5></td>
				<td class="text-align-right">$9</td>
			</tr>
			<tr>
				<td colspan="2">Eggs, any style, Cheddar cheese and choice of
					meat on an English muffin, served with country potatoes.</td>
			</tr>
			<tr>
				<td><h5>Breakfast Burritoes</h5></td>
				<td class="text-align-right">$11</td>
			</tr>
			<tr>
				<td colspan="2">Eggs, any style, Cheddar cheese and choice of
					meat on an English muffin, served with country potatoes.</td>
			</tr></tbody>
		</table>

	</div>

</body>
</html>